.google{
    font-family: 'Noto Sans';
    font-size: 300%;
    src: url('https://fonts.googleapis.com/css?family=Noto Sans') format(woff);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}